<h1>Login</h1>
<input placeholder="Name" name="Name">
<input placeholder="Email" name="Email">
<input type="password" placeholder="password" id="pwd" name="pwd">
<a href="/home" class="button">Login</a>
<a href="/signup" class="button">Signup</a>