<h1 class="signup-heading">Sign Up</h1>
<div class="signup-container">
    <input placeholder="Name" name="Name">
    <input placeholder="Email" name="Email">
    <input type="password" placeholder="password" id="pwd" name="pwd">
    <a href="/home" class="button">Sign Up</a>
</div>